.contador
{
  display: inline-flex;
  margin: 1em;
}
.valor{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background-color: antiquewhite;
  font-size: 2rem;
}
button {
  transition-duration: 0.4s;
  height: 3rem;
}

button:hover {
  background-color: rgb(134, 204, 254); /* Green */
  color: aliceblue;
}
